---
import { getSecret } from 'astro:env/server';
import CopyBlock from './CopyBlock.astro';

interface Wallet {
  id: string;
  name: string;
  blockchain: string;
  address: string;
  createDate: string;
  updateDate: string;
}

const secretsConfigured = Boolean( getSecret('API_KEY')) && Boolean(getSecret('ENTITY_SECRET'));
const walletSetId = getSecret('WALLET_SET_ID');

if (walletSetId === '') {
  throw new Error('WALLET_SET_ID is not set. Please set it in your environment variables.');
}

const url = `https://api.circle.com/v1/w3s/wallets?walletSetId=${walletSetId}`;
const options = {
  method: 'GET',
  headers: {
    Authorization: `Bearer ${getSecret('API_KEY')}`,
    'Content-Type': 'application/json'
  }
};
const response = await fetch(url, options);
const json = await response.json();
const data = json.data;
---

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Wallet ID</th>
      <th>Blockchain</th>
      <th>Wallet Address</th>
    </tr>
  </thead>
  {secretsConfigured &&
  <tbody>
    {data.wallets.map((wallet: Wallet) => (
      <tr>
        <td>{wallet.name}</td>
        <td><CopyBlock source={wallet.id} /></td>
        <td>{wallet.blockchain}</td>
        <td><CopyBlock source={wallet.address} /></td>
      </tr>
    ))}
  </tbody>
  }
</table>

<style>
  table {
    max-width: 100%;
    font-size: var(--step--1);
  }

  th {
    background-color: #555;
    color: #fff;
  }

  th,
  td {
    text-align: left;
    padding: 0.5em 1em;
    white-space: nowrap;
  }

  td::before {
    display: none;
  }

  @media screen and (max-width: 680px) {
  table {
    border: 0;
    display: block;
    box-shadow: none;
  }

  thead {
    position: absolute;
    opacity: 0;
  }
    
  tbody {
    display: block;
    min-width: 19em;
    max-width: 25em;
  }

  tr {
    border-top: 2px solid #3c3c3b;
    border-bottom: 2px solid #3c3c3b;
    display: block;
    margin-bottom: 1em;
  }

  td {
    border-bottom: 1px solid #3c3c3b;
    display: flex;
  }

  td::before {
    display: inline-block;
    font-weight: bold;
    margin-right: auto;
    padding-right: 1em;
  }

  td:last-child {
    border-bottom: 0;
  }
  }
</style>
